<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.video.model.dao.UserDao">

<select id="selectOne" parameterType="String" resultType="User">
	SELECT *
	FROM User
	WHERE userId = #{userId}
</select>

<select id="selectUsername" parameterType="String">
	SELECT username
	FROM User
	WHERE userId = #{userId}
</select>

</mapper>